body {
  background-color: black;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../images/P7HQBJMCGNHV5MO2H25EA5EDHI.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding: 200px 0px;
  text-align: center;
}

header h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 128px;
  margin-bottom: 70px;
}

header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  line-height: 46.88px;
  margin-bottom: 100px;
}

header a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: brown;
  padding: 16px 32px;
  border-radius: 100px;
  display: inline-block;
}

header a:hover {
  background-color: rgb(123, 30, 30);
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

  main {
    background-color: white;
  }

  main img {
    padding-top: 100px;
    max-width: 100%;
  }

  main h2 {
    font-family: "Poppins", serif;
    font-size: 13px;
    margin-bottom: 0px;
    letter-spacing: 4px;
    opacity: .4;
  }

  main h3 {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  main p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-right: 30px;
  }

  section {
    padding: 64px;
  }

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 30px;
  margin: 0px 30px 0px 30px;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/logo.jpg);
  background-size: 100%;
  padding: 100px 0px;
  background-repeat: no-repeat;
}

footer h3 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.99px;
  text-align: left;
}

footer p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

footer ul {
  padding: 0px;
}

footer li {
  list-style: none;
}

footer a {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: rgb(123, 30, 30);
}

.final-sentence {
  color: white;
  font-family: "Roboto";
  font-size: 13px;
  text-align: center;
}

@media (max-width: 920px) {
  header {
    padding: 20px 0px;
  }

  header h1 {
    font-size: 80px;
    margin: 30px 0px;
  }

  header h2 {
    font-size: 20px;
    margin: 0px 0px 20px;
  }

  header h3 {
    font-size: 18px;
    margin: 0px;
  }

  header a {
    font-size: 13px;
    margin-bottom: 20px;
  }

  section {
    padding: 0px 20px 0 20px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 8px;
    margin: 0px 10px 0px 10px;
  }

  footer {
    background-size: cover;
  }

  footer h3 {
    font-size: 17px;
  }

  footer p,
  footer a {
    font-size: 14px;
  }
}
